<%# Image %>

<div class="row">

<div class="col-md-12">

<%= image_tag @room.cover_photo(), width:"100%" %>
</div>
</div>
<br/>

<div class="row">

   <%# Left panel %>
   <div class="row">

     <div class="col-md-8">
        <h1> <%= @room.listing_name %> </h1>
        <%= @room.address %>
     </div>

     <div class="col-md-4 text-center">
  <%= image_tag gravatar_for(@room.user), class: 'img-circle avatar-sm' %><br/><br/>
  <%= @room.user.fullname%>
     </div>
   </div>
   <hr/>

<%# Room Info %>
 
 <div class="row text-babu">
 <div class="row text-center">
     <div class="col-md-3 col-sm-12">
      <i class="fas fa-home fa-2x"></i>
     </div>
     <div class="col-md-3 col-sm-12">
      <i class="fas fa-user-circle fa-2x"></i>
     </div>
     <div class="col-md-3 col-sm-12">
      <i class="fas fa-bed fa-2x"></i>
     </div>
     <div class="col-md-3 col-sm-12">
      <i class="fas fa-bath fa-2x"></i>
     </div>
  </div>
  
   <div class="row text-center">
     <div class="col-md-3"><%=@room.home_type%></div>
     <div class="col-md-3"><%= pluralize(@room.accommodate, "Guest") %></div>
     <div class="col-md-3"><%= pluralize(@room.bed_room, "Bedroom") %></div>
     <div class="col-md-3"><%= pluralize(@room.bath_room, "Bathroom" )%></div>
   </div>

 </div>

<hr/>

<%# About %>


</div>